.header{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 10px 40px;
}



.header__menu_nav_buttons{
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
 
    color: darkolivegreen;
}