.hero-section{

    text-align: center;
    font-family: "Averia Serif Libre" ;
}

.hero-section__title{
    color: #CA721C;
    font-size: 42px;
}

.hero-section__tagline{
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 180%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
padding: 0px 100px;

}

.hero-section__buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}


.hero-section__login-button{
    padding: 20px 40px;
    background-color: #838C65;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    color: #FAFAFF;
    cursor: pointer;
}

.hero-section__signup-button{
    padding: 20px 40px;
    background-color: #CA721C;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    color: #FAFAFF;
    cursor: pointer;

}

.hero-section__logo{
    margin: 40px 0px;
    width: 200px;
    height: 200px;
}