.hero-section{
    height: 70vh;
}

.hero-section__buttons{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap: 100px;
}


.hero-section__login-button{
    padding: 20px 40px;
    background-color: rgb(38, 142, 195);
    border-radius: 20px;
    border: none;
    font-size: 16px;

}

.hero-section__signup-button{
    padding: 20px 40px;
    background-color: rgb(10, 153, 55);
    border-radius: 20px;
    border: none;
    font-size: 16px;

}