.header {
  display: flex;
  padding: 10px 40px;
  justify-content: space-evenly;
  align-items: center;
}

.header__logo {
  width: 200px;
}


.header__menu_nav_buttons {
  list-style-type: none;
  display: flex;
  gap: 50px;
  align-items: center;
  color: #838c65;
  font-family: "Averia Serif Libre";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #838c65;
}

a:hover{
  text-decoration: underline;
}


.header__buttons{
    display: flex;
    gap: 20px;
}

.header__login-btn,
.header__signup-btn{
    color: #838c65;
    font-family: "Averia Serif Libre";
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
