.dashboard{
    padding: 20px 400px;
    
}

.dashboard__title{
    text-align: center;
    font-family: "Averia Serif Libre" ;
    color: #CA721C ;
}

.dashboard__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.dashboard__item{
    margin: 20px 20px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(68, 182, 110);
    color: black;
}

@media (min-width: 1024px) {
  .dashboard__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  .dashboard__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .dashboard__items {
    grid-template-columns: 1fr;
  }
}