.dashboard{
    background-color: rgb(196, 188, 153);
 
}

.dashboard__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.dashboard__item{
    margin: 20px 20px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(68, 182, 110);
    color: black;
}