.dashboard{
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.dashboard__title{
    text-align: center;
    font-family: "Averia Serif Libre" ;
    color: #CA721C ;
  
}

.dashboard__subtitle{
  font-family: "Averia Serif Libre";
  padding: 0 160px;
  text-align: center;
  font-size: 24px;
}

.dashboard__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.dashboard__item{
    margin: 20px 20px;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(68, 182, 110);
    color: black;
}

@media (max-width: 1440px) {
  .dashboard__items{
    grid-template-columns: repeat(2,1fr);
  }
  
}

@media (max-width: 1240px) {
  .dashboard{
    padding: 20px 20px;
  }

  .dashboard__subtitle{
    padding: 0 60px
  }
  .dashboard__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1020px) {
  .dashboard{
    padding: 20px 20px;
  }

  .dashboard__subtitle{
    padding: 0 30px;
  }

  .dashboard__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {

    .dashboard{
      padding: 10px 10px;
    }
    .dashboard__subtitle{
      padding: 0 10px;
    }

  .dashboard__items {
    grid-template-columns: repeat(1, 1fr);
   
  }
}